<!-- ======= Hero Section ======= -->
<section id="hero1">
  <div class="hero-container">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide
         carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image:
             url(assets/img/bi.jpg);">
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown" style="font-family: 'Dancing Script', cursive;">Khám phá các địa điểm nối tiếng của
                <span>Đà Lạt</span> nào!</h2>
              <p class="animate__animated animate__fadeInUp" style="font-family: 'Pacifico', cursive; height: 100px;"></p>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</section>

<main id="main">
  <!-- Bat dau diem den tai đây là danh mục các bài viết-->

  <section class="module">
    <div class="container">
      <div class="row multi-columns-row post-columns">

        <div class="col-sm-6 col-md-4 col-lg-4" *ngFor="let article of articles | paginate : {
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
              };">
          <div class="post">
            <div class="post-thumbnail"><a [routerLink]="['/post/', article.slug]"><img src="{{ URL +  article.image }}" alt="Blog-post Thumbnail" /></a></div>
            <div class="post-header font-alt">
              <h2 class="post-title1"><a [routerLink]="['/post/', article.slug]">{{ article.title }}</a></h2>
              <div class="post-meta1">By&nbsp;<a href="#">{{ article.author }}</a>|
                {{ article.created_at }}
              </div>
            </div>
            <div class="post-entry">
              <p>{{ article.description }}</p>
            </div>
            <div class="post-more"><a class="more-link" [routerLink]="['/post/', article.slug]">Xem thêm</a></div>
          </div>
        </div>

      </div>
      <div class="pagination font-alt">
        <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
        </pagination-controls>
      </div>
    </div>
  </section>
  <!-- Kết thúc-->
</main><!-- End #main -->
