<main id="main">
  <!-- Bat dau diem den tai đây là danh mục các bài viết-->
  <section class="module">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <div class="post" *ngFor="let article of articles.posts| paginate : {
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
              };">
            <div class="post-header font-alt">
              <h2 class="post-title1"><a href="{{ article.slug }}">{{ article.title }}</a></h2>
              <div class="post-thumbnail"><a href="{{ article.slug }}"><img src="{{ URL +  article.image }}" alt="Blog-post Thumbnail" /></a></div>
              <div class="post-meta1">By&nbsp;<a href="#">{{ article.author }}</a>|
                {{ article.created_at }}
              </div>
            </div>
            <div class="post-entry">
              <p> {{ article.description }}</p>
            </div>
            <div class="post-more"><a class="more-link" href="{{ article.slug }}">Xem thêm</a></div>
          </div>

          <div class="pagination font-alt">
            <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
            </pagination-controls>
          </div>
        </div>
        <div class="col-sm-4 col-md-3 col-md-offset-1 sidebar">

          <div class="widget">
            <h5 class="widget-title font-alt">Blog Categories</h5>
            <ul class="icon-list" *ngFor="let item of categories.categories">
              <li><a href="#">{{ item.title }}</a></li>

            </ul>
          </div>
          <div class="widget">
            <h5 class="widget-title font-alt">Bài viết cùng chuyên mục</h5>
            <ul class="widget-posts" *ngFor="let itemRandom of random">
              <li class="clearfix">
                <div class="widget-posts-image"><a href="{{ itemRandom.slug }}"><img src="{{ URL +  itemRandom.image }}" alt="Post Thumbnail" /></a></div>
                <div class="widget-posts-body">
                  <div class="widget-posts-title"><a href="#">{{ itemRandom.title }}</a></div>
                  <div class="widget-posts-meta">{{ itemRandom.created_at }}</div>
                </div>
              </li>

            </ul>
          </div>

          <div class="widget">
            <h5 class="widget-title font-alt">Kinh nghiệm</h5>Du lịch Đà Lạt đến với “thành phố sương mù”, “xứ sở ngàn hoa” bạn sẽ được tận hưởng bầu không khí trong lành cùng phong cảnh lãng mạn, thơ mộng. Với những chia sẻ kinh nghiệm du lịch Đà Lạt 2021 tự túc cực đầy đủ dưới đây sẽ giúp bạn có chuyến đi trọn vẹn và hoàn hảo nhất.
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Kết thúc-->
</main><!-- End #main -->
