<section id="why-us" class="why-us">
  <div class="container">

    <div class="section-title">
      <h2>Điều Gì Giữ Chân Bạn Ở lại Với <span>Đà Lạt</span></h2>
      <p style="font-family: 'Itim', cursive;">Những du khách khi đứng trước sự lựa chọn phải chia tay với Đà Lạt trong sâu thẳm đều mang nhiều vương vấn, ngập tràn kỉ niệm. Đều tự nhủ với lòng mình sẽ sớm quay lại nơi đây. Vì sao lại như vậy?</p>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="box">
          <span>01</span>
          <h4><a href="diemden.html">Phong Cảnh đẹp đến say lòng và những Điểm Đến thú vị</a></h4>
          <i>
            <p>Đà Lạt nổi tiếng với muôn vàn những cảnh đẹp mê hồn nhưng đâu mới là nơi đẹp nhất đang là câu hỏi mà rất nhiều những bạn trẻ khao khát tìm được câu trả lời. Chính vì thế hôm nay cùng với Admin dễ thương <a style="font-family: 'Pangolin', cursive;" href="diemden.html"> Chip Travel </a> tìm hiểu đâu mới là "The most beautiful place of Đà Lạt nhé"</p>
          </i>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="box">
          <span>02</span>
          <h4><a href="food.html">Ẩm Thực Phong Phú và Đặc Sắc</a></h4>
          <i>
            <p>Đi Đà Lạt bạn có gặp phải những câu hỏi ăn sáng, trưa, chiều tối ở đâu? Món ăn có hấp dẫn và phù hợp với giá cả không? Đừng quá lo bài viết dưới đây là tổng hợp hầu hết các quán ăn ngon và nổi tiếng cho bạn tha hồ lựa chọn. Cùng <a style="font-family: 'Pangolin', cursive;" href="food.html "> Chip Travel</a> tìm hiểu bài viết “Review tất tần tật món ăn sáng, trưa, tối” tại Đà Lạt nhé.</p>
          </i>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="box">
          <span>03</span>
          <h4><a href="#">Khí Hậu Trời Âu</a></h4>
          <i>
            <p>Có thể nói Đà Lạt là một thành phố ôn đới giữa lòng nhiệt đới, điều này không có gì là sai khi nhiệt độ trung bình của thành phố sương mù này chỉ từ 18 -22 độ C mỗi năm. Nhờ vào độ cao trung bình của thành phố là 1500m so với mực nước biển, nên dù tọa lạc giữa lòng nhiệt đới, khí hậu Đà Lạt vẫn mát mẽ quanh năm và dễ chịu như vùng ôn đới Châu Âu hay Bắc Mỹ...</p>
          </i>
        </div>
      </div>

    </div>

  </div>
</section>
