  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v10.0" nonce="ps4XCiDu"></script>
  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center fixed-top topbar-transparent">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-center justify-content-lg-start">
      <i class="bi bi-phone d-flex align-items-center"><span>+8471 773 444</span></i>
      <i class="bi bi-clock ms-4 d-none d-lg-flex align-items-center"><span>24/7</span></i>
    </div>
  </section>
  <!-- ======= Header ======= -->
  <app-menu></app-menu>
  <!-- End Header -->
