 <main id="main">
   <!-- Bat dau diem den tai đây là danh mục các bài viết-->
   <h1 class="signup-heading" style="font-family:'Itim', cursive;;"> Liên Hệ</h1>
   <div class="signup">
     <div class="signup-social">
       <i class="fa fa-facebook signup-social-icon"></i>
       <span class="signup-social-text">Chip Travel</span>
     </div>
     <div class="signup-social">
       <i class="fa fa-phone signup-social-icon"></i>
       <span class="signup-social-text">+8471 773 444</span>
     </div>
     <div class="signup-social">
       <i class="fa fa-envelope-o signup-social-icon"></i>
       <span class="signup-social-text">huyennchipp@gmail.com</span>
     </div>
     <div class="signup-or"><span> Or </span></div>
     <input type="text" class="field" placeholder="Họ và tên">
     <input type="text" class="field" placeholder="Email">
     <input type="text" class="field" placeholder="Số điện thoại">
     <textarea placeholder="Message" class="field"></textarea>
     <button class="btn1">Gửi</button>
   </div>
 </main>
