   <!-- ======= Hero Section ======= -->
   <section id="hero1">
     <div class="hero-container">
       <div id="heroCarousel" data-bs-interval="5000" class="carousel slide
         carousel-fade" data-bs-ride="carousel">

         <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
         <div class="carousel-inner" role="listbox">

           <!-- Slide 1 -->
           <div class="carousel-item active" style="background-image:
             url(assets/img/ga.jpg);">
             <div class="carousel-container">
               <div class="carousel-content">
                 <h2 class="animate__animated animate__fadeInDown" style="font-family: 'Itim', cursive;">ĐỊA ĐIỂM ĂN UỐNG TẠI ĐÀ LẠT</h2>
                 <p class="animate__animated animate__fadeInUp" style="font-family: 'Pacifico', cursive; height: 100px;"></p>
               </div>
             </div>
           </div>


         </div>
       </div>
     </div>
   </section>
   <!-- ======= Specials Section ======= -->
   <main id="main">
     <!-- Bat dau diem den tai đây là danh mục các bài viết-->
     <div class="main">
       <section class="module">
         <div class="container">
           <div class="row">
             <div class="col-sm-8">
               <div class="row post-masonry post-columns">
                 <div class="col-md-6 col-lg-6">
                   <div class="post">
                     <div class="post-thumbnail"><a href="#"><img src="assets/img/banhcan.jpg" alt="Blog-post Thumbnail" /></a></div>
                     <div class="post-header font-alt">
                       <h2 class="post-title1"><a href="baivietat.html">Shore after the tide</a></h2>
                       <div class="post-meta1">By&nbsp;<a href="#">Mark Stone</a>&nbsp;| 23 November
                       </div>
                     </div>
                     <div class="post-entry">
                       <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                     </div>
                     <div class="post-more"><a class="more-link" href="#">Read more</a></div>
                   </div>
                 </div>
                 <div class="col-md-6 col-lg-6">
                   <div class="post">
                     <div class="post-thumbnail"><a href="#"><img src="assets/img/kembo.jpg" alt="Blog-post Thumbnail" /></a></div>
                     <div class="post-header font-alt">
                       <h2 class="post-title1"><a href="#">Shore after the tide</a></h2>
                       <div class="post-meta1">By&nbsp;<a href="#">Andy River</a>&nbsp;| 11 November
                       </div>
                     </div>
                     <div class="post-entry">
                       <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                     </div>
                     <div class="post-more"><a class="more-link" href="#">Read more</a></div>
                   </div>
                 </div>
                 <div class="col-md-6 col-lg-6">
                   <div class="post">
                     <div class="post-thumbnail"><a href="#"><img src="assets/img/lauga.jpg" alt="Blog-post Thumbnail" /></a></div>
                     <div class="post-header font-alt">
                       <h2 class="post-title1"><a href="#">We in New Zealand</a></h2>
                       <div class="post-meta1">By&nbsp;<a href="#">Dylan Woods</a>&nbsp;| 5 November
                       </div>
                     </div>
                     <div class="post-entry">
                       <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                     </div>
                     <div class="post-more"><a class="more-link" href="#">Read more</a></div>
                   </div>
                 </div>
                 <div class="col-md-6 col-lg-6">
                   <div class="post">
                     <div class="post-thumbnail"><a href="#"><img src="assets/img/banhtrang.jpg" alt="Blog-post Thumbnail" /></a></div>
                     <div class="post-header font-alt">
                       <h2 class="post-title1"><a href="#">Plane in the field</a></h2>
                       <div class="post-meta1">By&nbsp;<a href="#">Mark Stone</a>&nbsp;| 23 November
                       </div>
                     </div>
                     <div class="post-entry">
                       <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                     </div>
                     <div class="post-more"><a class="more-link" href="#">Read more</a></div>
                   </div>
                 </div>
                 <div class="col-md-6 col-lg-6">
                   <div class="post">
                     <div class="post-thumbnail"><a href="#"><img src="assets/img/banhuot.jpg" alt="Blog-post Thumbnail" /></a></div>
                     <div class="post-header font-alt">
                       <h2 class="post-title1"><a href="#">Clock</a></h2>
                       <div class="post-meta1">By&nbsp;<a href="#">Andy River</a>&nbsp;| 11 November
                       </div>
                     </div>
                     <div class="post-entry">
                       <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                     </div>
                     <div class="post-more"><a class="more-link" href="#">Read more</a></div>
                   </div>
                 </div>
                 <div class="col-md-6 col-lg-6">
                   <div class="post">
                     <div class="post-thumbnail"><a href="#"><img src="assets/img/at2.jpg" alt="Blog-post Thumbnail" /></a></div>
                     <div class="post-header font-alt">
                       <h2 class="post-title1"><a href="#">Lighthouse to the shore</a></h2>
                       <div class="post-meta1">By&nbsp;<a href="#">Dylan Woods</a>&nbsp;| 5 November
                       </div>
                     </div>
                     <div class="post-entry">
                       <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                     </div>
                     <div class="post-more"><a class="more-link" href="#">Read more</a></div>
                   </div>
                 </div>
               </div>
               <div class="pagination font-alt"><a href="#"><i class="fa fa-angle-left"></i></a><a class="active" href="#">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#"><i class="fa fa-angle-right"></i></a></div>
             </div>
             <div class="col-sm-4 col-md-3 col-md-offset-1 sidebar">
               <div class="widget">
                 <form role="form">
                   <div class="search-box">
                     <input class="form-control" type="text" placeholder="Search..." />
                     <button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
                   </div>
                 </form>
               </div>
               <div class="widget">
                 <h5 class="widget-title font-alt">Blog Categories</h5>
                 <ul class="icon-list">
                   <li><a href="#">Photography - 7</a></li>
                   <li><a href="#">Web Design - 3</a></li>
                   <li><a href="#">Illustration - 12</a></li>
                   <li><a href="#">Marketing - 1</a></li>
                   <li><a href="#">Wordpress - 16</a></li>
                 </ul>
               </div>
               <div class="widget">
                 <h5 class="widget-title font-alt">Popular Posts</h5>
                 <ul class="widget-posts">
                   <li class="clearfix">
                     <div class="widget-posts-image"><a href="#"><img src="assets/img/at3.jpg" alt="Post Thumbnail" /></a></div>
                     <div class="widget-posts-body">
                       <div class="widget-posts-title"><a href="#">Designer Desk Essentials</a></div>
                       <div class="widget-posts-meta">23 january</div>
                     </div>
                   </li>
                   <li class="clearfix">
                     <div class="widget-posts-image"><a href="#"><img src="assets/img/at4.jpg" alt="Post Thumbnail" /></a></div>
                     <div class="widget-posts-body">
                       <div class="widget-posts-title"><a href="#">Realistic Business Card Mockup</a></div>
                       <div class="widget-posts-meta">15 February</div>
                     </div>
                   </li>
                 </ul>
               </div>
               <div class="widget">
                 <h5 class="widget-title font-alt">Tag</h5>
                 <div class="tags font-serif"><a href="#" rel="tag">Blog</a><a href="#" rel="tag">Photo</a><a href="#" rel="tag">Video</a><a href="#" rel="tag">Image</a><a href="#" rel="tag">Minimal</a><a href="#" rel="tag">Post</a><a href="#" rel="tag">Theme</a><a href="#" rel="tag">Ideas</a><a href="#" rel="tag">Tags</a><a href="#" rel="tag">Bootstrap</a><a href="#" rel="tag">Popular</a><a href="#" rel="tag">English</a>
                 </div>
               </div>
               <div class="widget">
                 <h5 class="widget-title font-alt">Text</h5>The languages only differ in their grammar, their pronunciation and their most common words. Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators.
               </div>

             </div>
           </div>
         </div>
       </section>

     </div>
     <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
     <!-- Kết thúc-->
   </main><!-- End #main -->
