<div class="container">
  <div class="section-title">
    <h2><span>Đôi chút cảm nhận về</span> Đà Lạt</h2>
    <p style="font-family: 'Itim', cursive;"> Đà Lạt ơi – đã bao lâu rồi ta chẳng gặp nhau?</p>
  </div>
</div>
<section id="testimonials" class="testimonials">
  <div class="container position-relative">

    <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="testimonial-item">
            <img src="assets/img/testimonials/2.jpg" class="testimonial-img" alt="">
            <h3>Chip</h3>

            <div class="stars">
              <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
            </div>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Đến Đà Lạt đi bạn nhé, đừng ngần ngại và cũng đừng chần chừ. Tạm gác lại những lo toan, bộn bề, áp lực của cuộc sống thường nhật để buông mình vào làn gió se lạnh, sải bước trên những con dốc quanh có đổ dài, để những sắc hoa xoa dịu sự mệt mỏi, để mình tan đi trong làn sương bồng bềnh, bạn sẽ thấy tâm hồn như được tái sinh và nhận ra cuộc đời này thật đáng sống! Cảm nhận về thành phố Đà Lạt đi, bạn sẽ thấy thật thư thái!
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <img src="assets/img/testimonials/1.jpg" class="testimonial-img" alt="">
            <h3>Smith</h3>

            <div class="stars">
              <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
            </div>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Đà Lạt không chỉ là nơi nghỉ dưỡng êm đềm với tiết trời mát mẻ, mà đây còn có những điểm hấp dẫn cho những ai yêu thích thiên nhiên và phiêu lưu mạo hiểm!! Tin mình đi, chỉ cần du lịch Đà Lạt một lần, bạn sẽ không thể nào quên!
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <img src="assets/img/testimonials/3.jpg" class="testimonial-img" alt="">
            <h3>Hoàng Huy</h3>

            <div class="stars">
              <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
            </div>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Ở Sài Gòn mình chưa bao giờ được ăn những món rau có vị ngon như vậy. Các loại rau củ quả này là sản phẩm của nền nông nghiệp công nghệ cao, có thể gọi là đặc sản của Đà Lạt. Nền nông nghiệp công nghệ cao ở Đà Lạt rất phát triển vì Đà Lạt may mắn được tự nhiên ban tặng khí hậu và thổ nhưỡng tuyệt vời.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <img src="assets/img/testimonials/4.jpg" class="testimonial-img" alt="">
            <h3>Đen Tỉnh</h3>

            <div class="stars">
              <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
            </div>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Đà Lạt thật lạ và cũng thật đáng yêu! Mình cảm nhận về thành phố Đà Lạt còn có nhiều điều đặc biệt lắm. Cả thành phố không có một cột đèn giao thông nào, dòng người di chuyển chậm rãi, từ tốn, vẫn qua được những ngã ba, ngã tư.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <img src="assets/img/testimonials/5.jpg" class="testimonial-img" alt="">
            <h3>Minh Tuấn</h3>

            <div class="stars">
              <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
            </div>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Có phải vì thành phố nằm ở một nơi khá tách biệt nên nhịp sống ở Đà Lạt chậm rãi, êm đềm? Mọi thứ trôi qua thật nhẹ nhàng từ tốn, rất thích hợp để thư giãn, nghỉ ngơi. Đến đây bạn sẽ thấy thoải mái, bớt đi những áp lực cuộc sống, và biết đâu nhờ vậy bạn sẽ nhận ra mình cần gì và mình sẽ làm những gì tiếp theo.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div><!-- End testimonial item -->

      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>
</section>