<!-- Bat dau diem den tai đây là danh mục các bài viết-->
<div class="container mapstyle">
  <div class="section-title">
    <h2><span>Bản đồ</span> Đà Lạt</h2>
    <p style="font-family: 'Itim', cursive;">Bên dưới đây là bản đồ toàn bộ thành phố Đà Lạt online sử dụng của Google Map giúp bạn đi đường chính xác nhất. Chỉ cần nhập điểm cần tới là nó sẽ hướng dẫn đường đi chi tiết.</p>
  </div>
</div>
<div class="map">
  <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d124928.54510790479!2d108.38051074698596!3d11.903902167073394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317112fef20988b1%3A0xad5f228b672bf930!2zVHAuIMSQw6AgTOG6oXQsIEzDom0gxJDhu5NuZywgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1620815110510!5m2!1svi!2s" allowfullscreen="" loading="lazy"></iframe>
</div>
