 <!-- ======= Hero Section ======= -->
 <section id="hero1">
   <div class="hero-container">
     <div id="heroCarousel" data-bs-interval="5000" class="carousel slide
         carousel-fade" data-bs-ride="carousel">

       <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
       <div class="carousel-inner" role="listbox">

         <!-- Slide 1 -->
         <div class="carousel-item active" style="background-image:
             url(assets/img/bi.jpg);">
           <div class="carousel-container">
             <div class="carousel-content">
               <h2 class="animate__animated animate__fadeInDown" style="font-family: 'Dancing Script', cursive;"> {{ post.title }}</h2>
               <p class="animate__animated animate__fadeInUp" style="font-family: 'Pacifico', cursive; height: 100px;"></p>
             </div>
           </div>
         </div>


       </div>
     </div>
   </div>
 </section>

 <main id="main">
   <!-- Bat dau diem den tai đây là danh mục các bài viết-->
   <div class="main">
     <section class="module-small">
       <div class="container">
         <div class="row">
           <div class="col-sm-8">
             <div class="post">
               <div class="post-thumbnail"><img src="{{ URL +  post.image }}" alt="Blog Featured Image" /></div>
               <div class="post-header font-alt">
                 <h1 class="post-title">{{ post.title }}</h1>
                 <div class="post-meta">By {{ post.author }}
                 </div>
               </div>
               <div class="post-entry" [outerHTML]="post.content">

               </div>

             </div>

           </div>
           <!-- ben phai -->
           <div class="col-sm-4 col-md-3 col-md-offset-1 sidebar">

             <div class="widget">
               <h5 class="widget-title font-alt">Danh mục bài viết</h5>
               <ul class="icon-list">
                 <li><a routerLink="/location">Điêm đến</a></li>
                 <li><a routerLink="/food">Ẩm thực</a></li>
                 <li><a routerLink="/experience">Kinh nghiệm</a></li>
               </ul>
             </div>

             <div class="widget">
               <h5 class="widget-title font-alt">Kinh nghiệm</h5>Du lịch Đà Lạt đến với “thành phố sương mù”, “xứ sở ngàn hoa” bạn sẽ được tận hưởng bầu không khí trong lành cùng phong cảnh lãng mạn, thơ mộng. Với những chia sẻ kinh nghiệm du lịch Đà Lạt 2021 tự túc cực đầy đủ dưới đây sẽ giúp bạn có chuyến đi trọn vẹn và hoàn hảo nhất.
             </div>
           </div>
         </div>
       </div>
     </section>


   </div>
   <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
   <!-- Kết thúc-->
   <div>
     <p>Bình Luận</p>
   </div>
   <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-width="100%" data-numposts="5"></div>
 </main><!-- End #main -->
