  <main id="main">
    <!-- Bat dau diem den tai đây là danh mục các bài viết-->
    <div class="main">
      <section class="module-small">
        <div class="container">
          <div class="row">
            <div class="col-sm-8">
              <div class="post">
                <div class="post-thumbnail"><img src="assets/img/2.jpg" alt="Blog Featured Image" /></div>
                <div class="post-header font-alt">
                  <h1 class="post-title">CÓ MỘT ĐÀ LẠT MÙA ĐÔNG ĐẸP MỘNG MƠ VÀ ĐẦY CẢM XÚC</h1>
                  <div class="post-meta">By&nbsp;<a href="#">Mark Stone</a>| 23 November | 3 Comments | <a href="#">Photography, </a><a href="#">Web Design</a>
                  </div>
                </div>
                <div class="post-entry">
                  <p>Đà Lạt luôn là nơi mà người ta muốn tìm về khi lòng bộn bề và vướng bận những trắc trở, là chốn dừng chân của những lãng khách muốn nghỉ ngơi và tìm đến với những bình yên của cuộc sống. Đà Lạt mạnh mẽ là vậy nhưng có đôi lúc, nó lại mỏng manh và cô đơn, khiến cho người ta muốn ôm vào lòng mà che chở. Đó là Đà Lạt khi đông về, đẹp đẽ và mỏng manh như một nàng thơ khiến ai cũng nhớ thương và yêu mến. Đà Lạt mùa đông thật đẹp, mộng mơ và đầy cảm xúc.</p>
                  <p>Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators. To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words.</p>
                  <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                  </blockquote>
                  <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The new common language will be more simple and regular than the existing European languages. It will be as simple as Occidental; in fact, it will be Occidental.</p>
                  <ul>
                    <li>The European languages are members of the same family.</li>
                    <li>Their separate existence is a myth.</li>
                    <li>For science, music, sport, etc, Europe uses the same vocabulary.</li>
                  </ul>
                  <p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their grammar, their pronunciation and their most common words.</p>
                </div>
                <div>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/RQQOXg6UFvU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>

            </div>
            <!-- ben phai -->
            <div class="col-sm-4 col-md-3 col-md-offset-1 sidebar">
              <div class="widget">
                <form role="form">
                  <div class="search-box">
                    <input class="form-control" type="text" placeholder="Search..." />
                    <button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
                  </div>
                </form>
              </div>
              <div class="widget">
                <h5 class="widget-title font-alt">Popular Posts</h5>
                <ul class="widget-posts">
                  <li class="clearfix">
                    <div class="widget-posts-image"><a href="#"><img src="assets/img/3.jpg" alt="Post Thumbnail" /></a></div>
                    <div class="widget-posts-body">
                      <div class="widget-posts-title"><a href="#">Mùa hoa đẹp nhất của Đà Lạt</a></div>
                      <div class="widget-posts-meta">23 january</div>
                    </div>
                  </li>
                  <li class="clearfix">
                    <div class="widget-posts-image"><a href="#"><img src="assets/images/rp-2.jpg" alt="Post Thumbnail" /></a></div>
                    <div class="widget-posts-body">
                      <div class="widget-posts-title"><a href="#">Realistic Business Card Mockup</a></div>
                      <div class="widget-posts-meta">15 February</div>
                    </div>
                  </li>
                  <li class="clearfix">
                    <div class="widget-posts-image"><a href="#"><img src="assets/images/rp-3.jpg" alt="Post Thumbnail" /></a></div>
                    <div class="widget-posts-body">
                      <div class="widget-posts-title"><a href="#">Eco bag Mockup</a></div>
                      <div class="widget-posts-meta">21 February</div>
                    </div>
                  </li>
                  <li class="clearfix">
                    <div class="widget-posts-image"><a href="#"><img src="assets/images/rp-4.jpg" alt="Post Thumbnail" /></a></div>
                    <div class="widget-posts-body">
                      <div class="widget-posts-title"><a href="#">Bottle Mockup</a></div>
                      <div class="widget-posts-meta">2 March</div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="widget">
                <h5 class="widget-title font-alt">Tag</h5>
                <div class="tags font-serif"><a href="#" rel="tag">Blog</a><a href="#" rel="tag">Photo</a><a href="#" rel="tag">Video</a><a href="#" rel="tag">Image</a><a href="#" rel="tag">Minimal</a><a href="#" rel="tag">Post</a><a href="#" rel="tag">Theme</a><a href="#" rel="tag">Ideas</a><a href="#" rel="tag">Tags</a><a href="#" rel="tag">Bootstrap</a><a href="#" rel="tag">Popular</a><a href="#" rel="tag">English</a>
                </div>
              </div>
              <div class="widget">
                <h5 class="widget-title font-alt">Text</h5>The languages only differ in their grammar, their pronunciation and their most common words. Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators.
              </div>
              <div class="widget">
                <h5 class="widget-title font-alt">Recent Comments</h5>
                <ul class="icon-list">
                  <li>Maria on <a href="#">Designer Desk Essentials</a></li>
                  <li>John on <a href="#">Realistic Business Card Mockup</a></li>
                  <li>Andy on <a href="#">Eco bag Mockup</a></li>
                  <li>Jack on <a href="#">Bottle Mockup</a></li>
                  <li>Mark on <a href="#">Our trip to the Alps</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>


    </div>
    <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
    <!-- Kết thúc-->
    <div>
      <p>Bình Luận</p>
    </div>
    <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-width="100%" data-numposts="5"></div>
  </main><!-- End #main -->
