<section id="gallery" class="gallery">
  <div class="container-fluid">

    <div class="section-title">
      <h2>Một số hình ảnh đến từ<span> Đà Lạt</span></h2>
      <p style="font-family: 'Itim', cursive;"> Tuổi trẻ thì ngắn, thế giới thì rộng lớn bao la. Còn chần chờ gì nữa mà không chạy thật nhanh để đắm chìm vào phố núi của Đà Lạt ngàn hoa?</p>
    </div>

    <div class="row no-gutters">

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="assets/img/gallery/1.jpg" class="gallery-lightbox">
            <img src="assets/img/gallery/1.jpg" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="assets/img/gallery/2.jpg" class="gallery-lightbox">
            <img src="assets/img/gallery/2.jpg" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="assets/img/gallery/3.jpg" class="gallery-lightbox">
            <img src="assets/img/gallery/3.jpg" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="assets/img/gallery/4.jpg" class="gallery-lightbox">
            <img src="assets/img/gallery/4.jpg" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="assets/img/gallery/5.jpg" class="gallery-lightbox">
            <img src="assets/img/gallery/5.jpg" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="assets/img/gallery/6.jpg" class="gallery-lightbox">
            <img src="assets/img/gallery/6.jpg" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="assets/img/gallery/7.jpg" class="gallery-lightbox">
            <img src="assets/img/gallery/7.jpg" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="assets/img/gallery/8.jpg" class="gallery-lightbox">
            <img src="assets/img/gallery/8.jpg" alt="" class="img-fluid">
          </a>
        </div>
      </div>

    </div>

  </div>
</section>
