 <!-- ======= Footer ======= -->
 <footer id="footer">
   <div class="container">
     <h3>Chip Travel</h3>
     <p>Hãy cùng Chip Travel tìm hiểu và trải nghiệm du lịch Đà Lạt vui nhất nhé!</p>
     <div class="social-links">
       <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
       <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
       <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
       <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
     </div>
     <div class="copyright">
       &copy; Copyright <strong><span>Kyo Designer</span></strong>. All Rights Reserved
     </div>
   </div>
 </footer>
 <!-- End Footer -->

 <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
