<section id="about" class="about">
  <div class="container-fluid">

    <div class="row">

      <div class="col-lg-5 align-items-stretch video-box" style='background-image: url("assets/img/anh-cuoi-da-lat.jpg");'>
        <a href="https://www.youtube.com/watch?v=INLc6gmUg8Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
      </div>

      <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">

        <div class="content">
          <h3><strong>Có một Đà Lạt mùa đông đẹp mộng mơ và đầy cảm xúc</strong></h3>

          <p class="fst-italic">
            Đà Lạt luôn là nơi mà người ta muốn tìm về khi lòng bộn bề và vướng bận những trắc trở, là chốn dừng chân của những lãng khách muốn nghỉ ngơi và tìm đến với những bình yên của cuộc sống. Đà Lạt mạnh mẽ là vậy nhưng có đôi lúc, nó lại mỏng manh và cô đơn, khiến cho người ta muốn ôm vào lòng mà che chở. Đó là Đà Lạt khi đông về, đẹp đẽ và mỏng manh như một nàng thơ khiến ai cũng nhớ thương và yêu mến. Đà Lạt mùa đông thật đẹp, mộng mơ và đầy cảm xúc.


          </p>
          <ul>
            <li><i class="bx bx-check-double"></i> Lang thang trong một khung trời ảo mộng.</li>
            <li><i class="bx bx-check-double"></i>Có những màu hoa điểm thêm chút tình cho phố núi.</li>
            <li><i class="bx bx-check-double"></i> Miên man trong những miền xúc cảm.</li>
          </ul>
          <p>
            Bạn đã đến Đà Lạt vào mùa đông chưa? , còn chần chờ gì nữa mà không xách balo lên và đi ngay nhỉ ! Hãy cẩn thận có thẻ bạn sẽ muốn ở mãi nơi đây đấy !!!
          </p>
        </div>

      </div>

    </div>

  </div>
</section>
