*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Poppins", sans-serif;
    color: #444444;
  }
  
  h1{
    font-family: 'Pacifico', cursive;
  }
  
   h2, h3, h4, h5, h6 {
    font-family: 'Dancing Script', cursive;
  }
  
.signup {
    margin: 0 27% ;
    padding: 10px;
    background-color: #fff;
    width: 100%;
    max-width: 800px;
  }
  .signup-heading {
    font-size: 55px;
    font-weight: bold;
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .signup-social {
    padding: 5px;
    border-radius: 20px;
    display: block;
    width: 100%;
    color: #000;
    display: flex;
  }
  .signup-social-icon {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    background-color: #444444;
    display: flex;
    align-items: center;
    justify-content: center;
    color:  #fff;
    font-size: 40px;
    margin-left: 30px;
  
  }
  .signup-social-text {
    display: block;
   margin: 10px ;
   margin-left: 20px;
    font-size: 22px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: 500;
  }
  .signup-or {
    text-align: center;
    font-size: 25px;
    color: #999;
    position: relative;
   font-weight: 20%;
  }
  .signup-or span {
    display: inline-block;
    padding: 10px 30px;
    background-color: #fff;
    position: relative;
    z-index: 2;
  }
  .signup-or:after {
    content: "";
    width: 100%;
    height: 1.5px;
    background-color: #999;
    position: absolute;
    top: 50%;
    left: 0;
  }
  
  /* form lien he */
  .contact{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 200px;
    }
    .contact-box{
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.15);
    }
    
    .left{
    /* background: url("img/bg.jpg") no-repeat center; */
    background-color: #2ecc71;
    background-size: cover;
    height: 100%;
    padding: 30px 20px;
    text-align: left;
    
    }
    .info-icon{
    width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      font-size: 45px; 
      padding-top: 40px;
    }
    .info-text
    {
      position: relative;
      font-size: 25px;
      font-family: "Itim";
      margin: 70px;
    }
    /* .contact .contact-link{
      height: 40px;
      width: 40px;
    } */
    .link-icon{
      width: 50px;
      height: 50px;
      margin-right: 10px;
      font-size: 45px; 
      padding-top:150px;
      margin: 25px;
      /* color: white; */
  
    }
    .right{
    padding: 25px 40px;
    }
    
    .contact-heading{
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
    }
    
    .contact-heading:after{
    content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      height: 4px;
      width: 50px;
      border-radius: 2px;
      background-color: #2ecc71;
    }
    
    .field{
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
    }
    
    .field:hover{
    background-color: rgba(0, 0, 0, 0.1);
    }
    
    textarea{
    min-height: 150px;
    }
    
    .btn1{
      width: 100%;
      padding: 0.5rem 1rem;
      background-color: #2ecc71;
      color: #fff;
      font-size: 25px;
      border: none;
      outline: none;
      cursor: pointer;
      transition: .3s;
    }
    
    .btn1:hover{
      background-color: #27ae60;
    }
    
    .field:focus{
      border: 2px solid rgba(30,85,250,0.47);
      background-color: #fff;
    }
  