<app-slider></app-slider>
<main id="main">

  <!-- ======= About Section ======= -->
  <app-about></app-about>
  <!-- End About Section -->

  <!-- ======= Why Us Section ======= -->
  <app-whyus></app-whyus>
  <!-- End Whu Us Section -->
  <!-- ======= Specials Section ======= -->
  <app-special></app-special>
  <!-- End Specials Section -->

  <!-- ======= Events Section ======= -->
  <app-event> </app-event>
  <!-- End Events Section -->

  <!-- ======= Gallery Section ======= -->
  <app-gallery></app-gallery>
  <!-- End Gallery Section -->

  <!-- Faceboot cmnt -->
  <!-- <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-width="100%" data-numposts="5"></div> -->
  <!-- End Faceboot cmnt -->
  <!-- ======= Testimonials Section ======= -->
  <app-testimonial></app-testimonial>
  <!-- End Testimonials Section -->

  <!-- ======= Contact Section ======= -->
  <app-map></app-map>
</main><!-- End #main -->
