<app-slider></app-slider>
<main id="main">

  <!-- ======= About Section ======= -->
  <app-about></app-about>
  <!-- End About Section -->

  <!-- ======= Why Us Section ======= -->
  <app-whyus></app-whyus>
  <!-- End Whu Us Section -->
  <!-- ======= Specials Section ======= -->
  <app-special></app-special>
  <!-- End Specials Section -->

  <!-- ======= Events Section ======= -->
  <app-event>
    <section id="events" class="events">
      <div class="container">

        <div class="section-title">
          <h2>Thành phố ngàn hoa : <span> Đà Lạt</span> trong tim ta</h2>
        </div>

        <div class="events-slider swiper-container">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="row event-item">
                <div class="col-lg-6">
                  <img src="assets/img/bi.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                  <h3>Đà Lạt – Xứ lạnh của phương Nam</h3>

                  <p class="fst-italic">
                    Còn gì tuyệt hơn khi có thể chạy trốn cái nắng nóng, đến với Đà Lạt yên bình. Những người con phương Nam chưa bao giờ biết đến mua đông phương Bắc có thể cảm nhận chút ít tại Đà Lạt.
                  </p>
                  <ul>
                    <li><i class="bi bi-check-circle"></i> Nằm co ro trong chăn ấm mỗi buổi sáng</li>
                    <li><i class="bi bi-check-circle"></i> Được mặc áo len và diện “mốt” mùa đông</li>
                    <li><i class="bi bi-check-circle"></i> Bánh mì nóng, vừa ăn vừa thổi, trong cái se lạnh khi đêm về</li>
                  </ul>
                  <p>
                    Nhiệt độ ở Đà Lạt dao động từ 14 độ đến 25 độ vào mùa hè, và thấp nhất là 10 độ vào mùa đông. Điều đặc biệt là tiết trời Đà Lạt chỉ se se chứ không quá lạnh… cực kỳ đáng giá là địa điểm nghỉ ngơi.
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="row event-item">
                <div class="col-lg-6">
                  <img src="assets/img/hoa.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                  <h3>Đà Lạt – Mảnh đất muôn hoa đua khoe sắc</h3>

                  <p class="fst-italic">
                    Lần đầu đến với Đà Lạt, hẳn ai trong chúng ta cũng có cảm giác như lạc vào xứ sở của các loài hoa. Đà Lạt là mảnh đất được thiên nhiên ưu ái ban tặng với khí hậu ôn hòa quanh năm, là cái nôi sinh sôi nảy nở tuyệt vời cho biết bao loài hoa.
                  </p>
                  <ul>
                    <li><i class="bi bi-check-circle"></i>Đà Lạt rực rỡ trong tấm áo đầy màu sắc của những vườn hoa. </li>
                    <li><i class="bi bi-check-circle"></i>Hoa Đà Lạt đem đến cho phố phường vẻ đẹp rực rỡ, tráng lệ.</li>
                    <li><i class="bi bi-check-circle"></i> Hoa Đà Lạt biến những cung đường trở nên hấp dẫn, nên thơ.</li>
                  </ul>
                  <p>
                    Mỗi sáng bình minh, biển hoa lại chìm trong lớp lớp sương mù mờ ảo đem đến thật nhiều cảm xúc cho du khách.
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="row event-item">
                <div class="col-lg-6">
                  <img src="assets/img/cp.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                  <h3>Đà Lạt – Nơi khí hậu quanh năm trong lành</h3>

                  <p class="fst-italic">
                    Với rừng thông bạt ngàn, rất nhiều hồ nước, sông suối, Đà Lạt sở hữu khí hậu tuyệt vời. Không khí ở đây trong lành, mát mẻ, khác hẳn sự ngột ngạt, đông đúc của những đô thị lớn.
                  </p>
                  <ul>
                    <li><i class="bi bi-check-circle"></i> Thiên đường của rau quả tươi ngon.</li>
                    <li><i class="bi bi-check-circle"></i> Nơi để bạn sống chậm.</li>
                    <li><i class="bi bi-check-circle"></i> Dạo bước cùng “người ấy” bên hồ Xuân Hương.</li>
                  </ul>
                  <p>
                    Buổi sáng sớm là thời tiết của mùa xuân, buổi trưa là mùa hạ, buổi chiều là mùa thu, và đêm là mùa đông…. Do đó du lịch Đà Lạt không cần mùa, cần tháng. Đà Lạt lúc nào cũng đẹp, cũng mát diụ, cũng nên thơ.
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="row event-item">
                <div class="col-lg-6">
                  <img src="assets/img/cff.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                  <h3>Đà Lạt – Nơi hội tụ những quán café cực chất</h3>

                  <p class="fst-italic">
                    Khi xung quanh mình là thế giới của cái đẹp, con người luôn có xu hướng sống chậm lại, thưởng thức thật kĩ từng khoảnh khắc, mỗi lần như thế mọi người lại tìm tới “cà phê phố núi Đà Lạt” để trút bầu tâm sự.
                  </p>
                  <ul>
                    <li><i class="bi bi-check-circle"></i> Đà Lạt nổi tiếng hiền hòa nhưng những quán cà phê thì rất khác, cá tính và đôi khi khá… quái.</li>
                    <li><i class="bi bi-check-circle"></i> Ấn tượng bởi kiểu thiết kế sân vườn mang nét đặc trưng của Đà Lạt.</li>
                    <li><i class="bi bi-check-circle"></i> Nơi gọi là thiên đường thỏa sức để "sống ảo".</li>
                  </ul>
                  <p>
                    Một tách café phin đúng điệu như ngưng đọng thời gian, đem lại cho lữ khách những phút giây thi vị, tận hưởng cuộc sống.
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section>
  </app-event>
  <!-- End Events Section -->

  <!-- ======= Gallery Section ======= -->
  <app-gallery></app-gallery>
  <!-- End Gallery Section -->

  <!-- Faceboot cmnt -->
  <!-- <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-width="100%" data-numposts="5"></div> -->
  <!-- End Faceboot cmnt -->
  <!-- ======= Testimonials Section ======= -->
  <app-testimonial></app-testimonial>
  <!-- End Testimonials Section -->

  <!-- ======= Contact Section ======= -->
  <app-map></app-map>
</main><!-- End #main -->
