 <section id="specials" class="specials">
   <div class="container">
     <div class="section-title">
       <h2>Ẩm thực<span> Đà Lạt</span></h2>
       <p style="font-family: 'Itim', cursive;">Mỗi vùng đất đều có một nét ẩm thực riêng gắn với con người và văn hóa người dân, Thành phố Đà Lạt vốn là một địa điểm du lịch rất nổi tiếng, nên cũng vì thế mà xét về các địa điểm ẩm thực, hoặc các món ăn ở đây thì không một du khách nào có thể cưỡng lại sự hấp dẫn của nó..</p>
     </div>

     <div class="row">
       <div class="col-lg-3">
         <ul class="nav nav-tabs flex-column">
           <li class="nav-item">
             <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Bánh Căn</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Bánh ướt lòng gà</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Lẩu gà lá é</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Kem bơ</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Bánh tráng nướng</a>
           </li>
         </ul>
       </div>
       <div class="col-lg-9 mt-4 mt-lg-0">
         <div class="tab-content">
           <div class="tab-pane active show" id="tab-1">
             <div class="row">
               <div class="col-lg-8 details order-2 order-lg-1">
                 <h3>Bánh Căn Đà Lạt</h3>
                 <p class="fst-italic">Bánh Căn Đà Lạt có thể xem là một trong những món ăn khá nổi tiếng và đặc trưng tại Thành phố Hoa. </p>
                 <p>Được sự chế biến của những bàn tay khéo léo của những người làm bánh căn lành nghề, dần dần thứ bánh này trở thành một “đặc sản” của Đà Lạt. Ăn bánh căn Đà Lạt bạn sẽ cảm nhận được một hương vị rất nhẹ nhàng, thanh đạm, thơm ngon hơn và có nét gì đó tinh túy rất riêng của phố núi, khác hẳn với những chiếc bánh căn miền Trung.</p>
               </div>
               <div class="col-lg-4 text-center order-1 order-lg-2">
                 <img src="assets/img/banhcan.jpg" alt="" class="img-fluid">
               </div>
             </div>
           </div>
           <div class="tab-pane" id="tab-2">
             <div class="row">
               <div class="col-lg-8 details order-2 order-lg-1">
                 <h3>Bánh ướt lòng gà</h3>
                 <p class="fst-italic">Món bánh ướt lòng gà này được đánh giá là một trong những món ăn nhẹ ngon nhất. Hương vị rất độc đáo và lạ miệng. Không những ăn ngon, mà giá thành của mỗi dĩa bánh ướt lòng gà nơi đây cũng khá rẻ.</p>
                 <p>Bánh ướt lòng gà là một trong những món ăn bạn không thể nào không thưởng thức khi đến với Đà Lạt nhé. Đây cũng chính là một trong những món ăn ngon nằm trong Top 20 những món ăn ngon tại Đà Lạt đấy nhé. </p>
               </div>
               <div class="col-lg-4 text-center order-1 order-lg-2">
                 <img src="assets/img/banhuot.jpg" alt="" class="img-fluid">
               </div>
             </div>
           </div>
           <div class="tab-pane" id="tab-3">
             <div class="row">
               <div class="col-lg-8 details order-2 order-lg-1">
                 <h3>Lẩu gà lá é</h3>
                 <p class="fst-italic">Lẩu gà lá é Đà Lạt là một trong những món ăn đặc trưng của vùng đất mang tên Phú Yên.Không chỉ có Phú Yên mới có lẩu gà là é ngon mà Đà Lạt hiện nay cũng có rất nhiều quán bán món này khá ngon. </p>
                 <p>Đây là món được kết hợp từ những hương vị tinh hoa của đất trời. Đầu tiên là sự kết hợp hoàn hảo của những miếng thịt gà dai ngon, và vì giòn ngọt của nấm. Hòa vào đó là hương vị the mát của lá é và một chút chua cay của các nguyên liệu như: ớt ,chanh,sả, vừng….</p>
               </div>
               <div class="col-lg-4 text-center order-1 order-lg-2">
                 <img src="assets/img/lauga.jpg" alt="" class="img-fluid">
               </div>
             </div>
           </div>
           <div class="tab-pane" id="tab-4">
             <div class="row">
               <div class="col-lg-8 details order-2 order-lg-1">
                 <h3>Kem bơ Đà Lạt</h3>
                 <p class="fst-italic">Đến Đà Lạt mà không ăn kem bơ Đà Lạt là một thiếu sót. Là một trong những đặc sản nức tiếng xứ sở ngàn hoa, kem bơ Đà Lạt mang một hương vị đặc biệt. Dưới tiết trời se lạnh, được thưởng thức một ly kem bơ béo bùi, thơm ngon thì còn gì bằng.</p>
                 <p>Phía dưới ly kem bơ Đà Lạt là bơ xay, ngậy nhưng không ngấy. Bên trên là viên kem dừa hoặc kem sầu riêng tùy vào mỗi quán. Lớp bơ xanh bao bọc viên kem ngọt lạnh, tạo nên một món ngon đáng thử khi đến Đà Lạt.</p>
               </div>
               <div class="col-lg-4 text-center order-1 order-lg-2">
                 <img src="assets/img/kembo.jpg" alt="" class="img-fluid">
               </div>
             </div>
           </div>
           <div class="tab-pane" id="tab-5">
             <div class="row">
               <div class="col-lg-8 details order-2 order-lg-1">
                 <h3>Bánh tráng nướng Đà Lạt</h3>
                 <p class="fst-italic">Bánh tráng nướng Đà Lạt là một món ăn đặc trưng đường phố không thể nào bỏ qua khi đến du lịch tại phố núi ngàn hoa. Không chỉ Đà Lạt mà hiện nay bánh tráng nướng còn rất quen thuộc với các tỉnh thành khác trên nước ta. </p>
                 <p>Món ăn dân dã này còn được các bạn trẻ đặt cho một cái tên khác nữa theo Tây nữa ta khá ngộ nghĩnh. Đó là tên gọi Pizza Việt Nam, ở Đà Lạt món ăn này đã níu kéo khá nhiều du khách thập phương. Bất cứ ai khi đến đây cũng đều biết đến món Pizza nổi tiếng này.</p>
               </div>
               <div class="col-lg-4 text-center order-1 order-lg-2">
                 <img src="assets/img/banhtrang.jpg" alt="" class="img-fluid">
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>

   </div>
 </section>
